html{
    background-image: url(src\assets\images\backgroundimage.jpg);
    padding-left: 400px;
    padding-bottom: 720px;
}
.locationbox{
    width:620px;
    height: 470px;
    color: black;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing:content-box;
    padding: 70px 30px;
    place-items: center;
    font-family: sans-serif;
}

h1{
    margin: 0;
    padding: 0 0 5px;
    text-align: center;
    font-size: 22px;
}

mat-label{
    border: 50px;
    color: #337AB7;
    
    
}
mat-datepicker-toggle{
    color:black;
}
mat-form-field {
    margin-left: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0.15);
  }
  mat-form-field:hover
{
    background-color:#fff;

}
 

.div2{
  height: fit-content;width: center;
  margin:10px;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0.15);
    text-align: center; 
  }
  .div2:hover
  {
      background-color:#fff;
     
  }
  .div2:nth-child(even){

	background-color: lightblue;

}
.div2:nth-child(even):hover{

	background-color: dodgerblue;

	color: white;

	

}
.div2:nth-child(odd){

	background-color: rgba(0, 0, 0, 0.5);

}

.div2:nth-child(odd):hover{

	background-color: lightgray;

	

}

 .button
{
    border: none;
    outline: none;
    height: 30px;
    background: #1c8adb;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    padding: 0 0 2px;
    margin: 0px;
  position: absolute;
  
}
 .button:hover
{
    cursor:progress;
    background: #39dc79;
    color:#000;
    
}
.button[disabled]
{
    cursor:progress;
    background:crimson;
    color:#000;
}
 
.popup
{
    border: none;
    outline: none;
    height: 30px;
    background: #1c8adb;
    color: #fff;
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 0 0 2px;
   margin-left: 70%;
}
 .popup:hover
{
    cursor:pointer;
    background: #39dc79;
    color:#000;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 40%;
  background-color:#337AB7;
  color: #fff;
  text-align:left;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 95%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  position:absolute;
  animation: fadeIn 1s
} 

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
